<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    <table>-->
<!--        <tr>>-->
<!--            <th>1</th><th>1</th><th>1</th><th>1</th><th>1</th><th>1</th><th>1</th><th>1</th><th>1</th><th>1</th>-->
<!--            <th>1</th><th>1</th><th>1</th><th>1</th><th>1</th><th>1</th><th>1</th><th>1</th><th>1</th><th>1</th>-->
<!--            <th>1</th><th>1</th>-->
<!--        </tr>-->
<!--        {% for post in posts %}-->
<!--        <tr>-->
<!--            <td> {{ post.num }}</td>-->
<!--            <td> {{ post.toilet_name }}</td>-->
<!--            <td> {{ post.male_female }}</td>-->
<!--            <td> {{ post.male_disabled_toilet_public_toiletnum }}</td>-->
<!--            <td> {{ post.open_time }}</td>-->
<!--            <td> {{ post.management_agency }}</td>-->
<!--            <td> {{ post.male_toilent_num }}</td>-->
<!--            <td> {{ post.male_disabled_urinal_num }}</td>-->
<!--            <td> {{ post.call_number }}</td>-->
<!--            <td> {{ post.land_address }}</td>-->
<!--            <td> {{ post.female_toilet_num }}</td>-->
<!--            <td> {{ post.sortation }}</td>-->
<!--            <td> {{ post.male_urinal_num }}</td>-->
<!--            <td> {{ post.longitude }}</td>-->
<!--            <td> {{ post.female_child_toilet_num }}</td>-->
<!--            <td> {{ post.road_address }}</td>-->
<!--            <td> {{ post.male_child_toilet_num }}</td>-->
<!--            <td> {{ post.male_child_urinal_num }}</td>-->
<!--            <td> {{ post.latitude }}</td>-->
<!--            <td> {{ post.female_disabled_toilet_num }}</td>-->
<!--            <td> {{ post.installation_year }}</td>-->
<!--            <td> {{ post.update_date }}</td>-->
<!--        </tr>-->
<!--        <script>-->
<!--            console.log({{ post.open_time }})-->
<!--        </script>-->
<!--        {% endfor %}-->
<!--    </table>-->
<!--</body>-->
<!--</html>-->


<html>
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>

    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=6g2sdua1q0"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


</head>
<!--<body onload="load()">-->
<body onload="load()">
<div id="map" style="width:100%;height:100%;"></div>
<p id="latit"></p>
<p id="longi"></p>

<script>
var marker = []
var path = []
var contentString = []
var infowindow = []
var polygondate = {}
var polygon = Object()

var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(37.3595704, 127.105399),
    zoom: 10
});

{% for post in posts %}
    marker.push(new naver.maps.Marker({
        position: new naver.maps.LatLng({{ post.latitude }}, {{ post.longitude }}),
        map: map
    }))

    contentString.push(
    [
    '<div class="iw_inner">',
    '   <h5>{{ post.toilet_name }}</h5>',
    '   <h6></h6>
    '   개방시간 : {{ post.open_time}}',
    '   남여공용 여부 : {{ post.male_female }}',
    '',
    '',
    '</div>'
    ].join('')
    )

    var infoIndex = {{ post.id }} - 1

    infowindow.push(new naver.maps.InfoWindow({
        content: contentString[infoIndex]
    }))


    naver.maps.Event.addListener(marker[infoIndex], 'click', getClickHandler(infoIndex))

{% endfor %}

function getClickHandler(seq) {
    return function(e) {
        if (infowindow[seq].getMap()) {
            infowindow[seq].close();
        } else {
            infowindow[seq].open(map, marker[seq]);
        }
    }
}





$.getJSON("{% static 'json/TL_SCCO_SIG.json' %}", function(data){
<!--feature 다음이 지역-->

    var cityIndex = data["features"].findIndex(p=>p.properties["SIG_KOR_NM"] == '원주시')
    var arrLength = data['features'][cityIndex]["geometry"]["coordinates"][0].length


     for(index = 0; index < arrLength; index++) {
        var x = data['features'][cityIndex]["geometry"]["coordinates"][0][index][1]
        var y = data['features'][cityIndex]["geometry"]["coordinates"][0][index][0]
        path.push(new naver.maps.LatLng(x,y))
    }
});

<!--경계선 작성-->
function setPolygon() {
    polygon = new naver.maps.Polygon({
        map: map,
        paths: path,
        fillColor: '#00ff0000',
        fillOpacity: 0.3,
        strokeColor: '#ff0000',
        strokeOpacity: 0.6,
        strokeWeight: 3
    })
}

setTimeout(setPolygon,500)

<!-- 현재 내 위치-->
function successCallback(position) {
    var Lati = position.coords.latitude;
    var Long = position.coords.longitude;
    document.getElementById("latit").innerHTML = Lati;
    document.getElementById("longi").innerHTML = Long;


    var markerOne = new naver.maps.Marker({
        position: new naver.maps.LatLng(Lati, Long),
        map: map
    });
}

function errorCallback(error) {
   alert(error.message);
}

function load(){
   if ( navigator.geolocation ) {
      navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
   } else {
      alert("geolocation not supported");
   }
}









</script>
</body>
</html>

